# Ignore node_modules from both backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
.env

# Ignore package-lock.json files
backend/package-lock.json
frontend/package-lock.json
